---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h1>Juan P Echeverry</h1>

	<p>Site Under Construction</p>

	<h2>Links</h2>
	<ul><li><a href='/github' target='_blank'>GitHub</a></li></ul>
	<ul><li><a href='/linkedin' target='_blank'>LinkedIn</a></li></ul>
</Layout>
